# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
.venv/

# Environments
env/

# Data files output
*.csv
*.json

# MacOS
.DS_Store

# IDEs
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
